{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <form action="{{url_for('movie.Rankinfo')}}" method="post" class="post-form my-3 ml-3">
            <input type="date" id="currentDate" name="keyword" value="{{keyword}}">
            <button type="submit" class="btn btn-primary my-2">검색</button>
    </form>
</div>
{% if rank_info_list %}
<div class="container my-3">
    <table class="table table-hover " style="font-size: 12px" >
        <thead>
            <tr class="text-center thead-dark">
                <th>rank</th>
                <th>title</th>
            </tr>
        </thead>
        <tbody>
        {% for temp in rank_info_list %}
        <tr class="text-center">
             <td>{{ loop.index }}</td>
             <td>{{ temp['title']}}</td>

         </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
